body{
    height: 100vh;
    font-family: Roboto;
    display: flex;
    flex-direction:  column;
    background-color: black;
    ;
    
}

.header{
   background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 48px;
    
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 160px;
    margin: 100px;
    border;

}

.signup div{
    padding: 16px;
    
} 

.btn{
    background-color: blue;
}

.upper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 800px;
    
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}


.content{
      display: flex;
      flex: 1;


}

.menu ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    gap: 32px;
    
}

.hero{
    font-weight: 900;
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

