body{
    height: 100vh;
    font-family: Roboto;
    display: flex;
    flex-direction:  column;
    background-color: black;
    flex:1;
    
    
    
}

.header{
   background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    flex: 1;
    
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    padding-top: 100px;
    


}

.signup div{
    text-align: left;
    
} 

.btn{
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 16px;
    width: 150px;
    margin-top: 32px;
    padding: 8px;

}

.upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}


.content{
      display: flex;
      flex: 1;


}

 a{
   text-decoration: none; 
   color: #E5E7EB;
   font-size: 18px;
}
.subhero{
   color: #E5E7EB;
   font-size: 18px;
   font-weight: 0;

}

.menu ul{ 
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 32px;
    
}


.hero{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topic{
    background-color: #F9FAF8;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-right: 200px;
    margin-left: 200px;
    
     
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;



}
.topcontainer{
    
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 48px;
    padding-bottom: 72px;
    
    
}


.box{
    width: 150px;
    height: 150px;
    border: 4px solid rgb(125, 125, 247);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:  4px #E5E7EB;

}
 .service {
    width: 150px;
 }
.content{
    display: flex;
    flex-direction: column;

}

.midcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:   #E5E7EB;
    margin-left: 200px;
    margin-right: 200px;
    padding: 100px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items:last baseline;
    max-width: 800px;
    

}

.subquote {
    display: flex;
    margin-left: auto;
    font-weight: 900;

}

.bottomcontainer{
    background-color: #F9FAF8;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    color: #F9FAF8;
}

.action {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 32px;
   padding-left: 80px;
   padding-right: 80px;
    border-radius: 8px;
    display: flex;
    gap: 100px;
   

}


strong{
     font-size: 18px;
}
.call{
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color:#F9FAF8;
    font-size: 18px;
    border-radius: 16px;
    width: 150px;
    padding: 8px;
    
    

}


.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    
}

.actiontext{
    display: flex;
    flex-direction: column;
}













